header {
    background: transparent;
    width: 100vw;
    height: 4rem;
    line-height: 4rem;
    overflow: hidden;

    nav {
        ul {
            list-style: none;
        }

        li {
            display: inline-block;
            margin-left: 1.3rem;

            a {
                text-decoration: none;
                color: $dark-color;
            }
        }
    }
}

.toggle-menu {
    position: absolute;
    right: 20px;
    top: 5px;

    i {
        color: $dark-color;
        font-size: 2rem;
        cursor: pointer;
    }
}

.side-nav {
    position: fixed;
    top: 0px;
    left: 0;
    height: 100vh;
    background-color: $primary-color;
    width: 0;
    z-index: 9999;
    transition: all .6s ease-in-out;
    transform-origin: right;

    overflow: hidden;

    ul {
        list-style: none;
        margin-top: 1rem;
    }

    li {
        margin-bottom: 20px;
        padding: 0 20px 0 60px;
        text-align: right;
    }

    a {
        color: $light-color;
        text-decoration: none;
        padding: 20px 10px;
        font-size: 2rem;
    }

    .close {
        margin-bottom: 1.5rem;
        display: inline-block;

        i {
            transform: rotate(45deg);
        }
    }

    .sidenav-info {
        color: $light-color;
        position: absolute;
        bottom: 1.5rem;
        right: 1rem;
        text-align: right;

        p {
            font-size: .9rem;
        }

        .sidenav-social {
            list-style: none;


            li {
                display: inline-block;
                margin-left: .5rem;
                text-align: right;
                padding: .5rem;

                i {
                    color: $light-color;
                }
            }
        }
    }
}