.toggle-menu {
    display: none;
}

.hide-on-sm {
    display: block;
}

.open {
    width: 65vw !important;
}



@media screen and (max-width: 1030px) {

    .banner {
        .banner-content {
            h1 {
                font-size: 3rem;
                text-align: center;
            }

            form {
                input {
                    width: 15rem;
                }
            }
        }
    }

    .browse-header {
        width: 95%;

        h3 {
            font-size: 2rem;
        }
    }




    .browser-wrapper img {
        height: 100vh;
    }

    .footer-box {
        border-right: 1px solid $light-color;
        border-bottom: none;
    }

    .last {
        border-right: none;
        border-bottom: none;
        min-height: 5rem;
    }
}




@media screen and (max-width: 815px) {
    .banner {
        .banner-content {
            h1 {
                font-size: 3.1rem !important;
            }

            form {
                input {
                    width: 20rem;
                }
            }
        }
    }

    .browse-header {
        width: 95%;
    }

    .footer-box {
        border-right: none;
        border-bottom: 1px solid $light-color;
    }

    .last {
        border-bottom: none;
        min-height: 5rem;
    }
}






//Featured Resto

.business-box {
    margin-bottom: 1.2rem;
}



@media screen and (max-width: 420px) {
    .hide-on-sm {
        display: none;
    }

    .toggle-menu {
        display: block;

        i {
            cursor: pointer;
        }

    }

    //banner-section
    .banner {
        .banner-content {
            h1 {
                font-size: 2rem !important;
            }

            form {
                input {
                    width: 15rem;
                }
            }
        }
    }


    //Browse by Category
    .browse-header {
        width: 90%;

        h3 {
            font-size: 1.6rem;
            margin-bottom: 2rem;
        }

        .bar {
            width: 40%;
            margin-top: 2rem;

        }
    }

    .browser-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 70vh;
    }



}