.btn {
    padding: .5rem 1.5rem;
    display: inline-block;
    text-decoration: none;
    border-radius: 15px;
    transition: all .5s ease;
    margin-top: 10px;
}

button {
    border: none;
}

.page-banner {
    background: {
        size: cover;
        position: center bottom;
        repeat: no-repeat;
    }

    .page-header {
        font-size: 2.5rem;
        color: $light-color;
        text-align: center;

        @include media-query (600px) {
            font-size: 1.5rem;
            width: 100%;
        }
    }

    height: 30vh;

    form {
        display: flex;

        input {
            padding: .5rem .9rem;
            width: 25rem;
            height: 2rem;
            border: none;

            @include media-query (600px) {
                width: 13rem;

                &::placeholder {
                    font-size: .7rem;
                }
            }
        }

        button {
            display: inline-block;
            margin-left: 5px;
            height: 2rem;
            width: 5rem;
            padding: .5rem .9rem;
            border: none;
            text-decoration: none;
        }
    }
}

select {
    font-size: 1rem;
    // margin-top: -.5rem;

    option {
        font-size: 1rem;
    }
}


.input,
select,
textarea {
    padding: .5rem;
    border: none;
    border-bottom: 1px solid $dark-color;
    width: 100%;
    margin-bottom: .9rem;
    outline: none;
    background: none;
    font-size: 1rem;
}

.input::placeholder,
select::placeholder,
textarea::placeholder {
    font-style: italic;

}

textarea {
    height: 10rem;
    font-size: 1rem;
}

.scroll {
    padding-right: 20px;

    &::-webkit-scrollbar {
        width: .6rem;
        padding-left: .5rem;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 20px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #d8d8d8;
        border-radius: 20px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #a3a3a3;
    }
}



.banner-biz {
    position: relative;
    min-height: 250px;

    img {
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        width: 100%;
        height: 250px;
        z-index: 1;
    }

    .overlay {
        background-image: linear-gradient(to bottom,
                rgba(0, 0, 0, 0),
                rgba(58, 58, 58, 0.9));
        z-index: 2;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .biz-name {
        position: absolute;
        bottom: 0.5rem;
        left: 1rem;
        z-index: 3;
        color: $light-color;
        font-weight: 300;
        margin: 0;
    }


}