//color
$primary-color: #428BCA;
$secondary-color: #C99542;
$lightgray-color: #9AA2A2;
$light-color: #ffffff;
$dark-color: #707070;
$gray-color:#F3F3F3;


//Backgrounds
$banner-bg: url('../images/banner.jpg');
$banner-reg-bg: url('../images/banner-reg.jpg');